# <font color='blue'>Telecom Churn Case Study</font>
* Institution: IIIT, Bangalore and UpGrad
* Course: PG Diploma in Machine Lerning and AI March 2018
* Date: 14-Aug-2018
* Submitted by:
    1. Pandinath Siddineni (ID- APFE187000194)
    2. AKNR Chandra Sekhar (ID- APFE187000315)
    3. Brajesh Kumar       (ID- APFE187000149)
    4. Shweta Tiwari
-----------------------------------

# <font color='blue'>PART 3: FEATURE REDUCTION USING PCA</font>

In [2]:
import os.path
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [3]:
pd.options.display.float_format = '{:.2f}'.format

In [4]:
# Load clean telecom data file
master_df = pd.read_csv('telecom_churn_data_clean2.csv', low_memory=False)

In [5]:
master_df.head()

,mobile_number,onnet_mou_6,onnet_mou_7,onnet_mou_8,offnet_mou_6,offnet_mou_7,offnet_mou_8,roam_ic_mou_6,roam_ic_mou_7,roam_ic_mou_8,...,night_0.0.1,night_1.0.1,night_0.0.2,night_1.0.2,fb_0.0,fb_1.0,fb_0.0.1,fb_1.0.1,fb_0.0.2,fb_1.0.2
0,7000701601,57.84,54.68,52.29,453.43,567.16,325.91,16.23,33.49,31.64,...,0,0,0,0,0,0,0,0,0,0
1,7002311591,288.56,376.66,111.61,186.59,1326.06,771.14,52.96,0.00,7.28,...,0,0,0,0,0,0,0,0,0,0
2,7000959346,120.19,236.14,1.71,2082.18,2532.03,408.54,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,0,0
3,7000104470,1241.99,1026.66,0.00,112.91,115.13,0.00,0.00,0.00,0.38,...,0,0,0,0,0,0,0,0,0,0
4,7000409785,424.98,328.73,363.98,457.09,361.34,391.68,315.29,303.04,254.34,...,0,0,0,0,0,0,0,0,0,0

In [6]:
#list(master_df)

In [7]:
master_df.shape

(28504, 156)

In [8]:
telecom = master_df.drop(['mobile_number'], 1)
telecom = telecom.drop(['fb_user_6', 'fb_user_7', 'fb_user_8', 'night_pck_user_6', 'night_pck_user_7', 'night_pck_user_8'], 1)
telecom = telecom.drop(['fb_churn_6', 'fb_churn_7', 'fb_churn_8', 'night_pck_churn_6', 'night_pck_churn_7', 'night_pck_churn_8'], 1)

In [9]:
telecom.head()

,onnet_mou_6,onnet_mou_7,onnet_mou_8,offnet_mou_6,offnet_mou_7,offnet_mou_8,roam_ic_mou_6,roam_ic_mou_7,roam_ic_mou_8,roam_og_mou_6,...,night_0.0.1,night_1.0.1,night_0.0.2,night_1.0.2,fb_0.0,fb_1.0,fb_0.0.1,fb_1.0.1,fb_0.0.2,fb_1.0.2
0,57.84,54.68,52.29,453.43,567.16,325.91,16.23,33.49,31.64,23.74,...,0,0,0,0,0,0,0,0,0,0
1,288.56,376.66,111.61,186.59,1326.06,771.14,52.96,0.00,7.28,10.69,...,0,0,0,0,0,0,0,0,0,0
2,120.19,236.14,1.71,2082.18,2532.03,408.54,0.00,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,0,0
3,1241.99,1026.66,0.00,112.91,115.13,0.00,0.00,0.00,0.38,0.00,...,0,0,0,0,0,0,0,0,0,0
4,424.98,328.73,363.98,457.09,361.34,391.68,315.29,303.04,254.34,613.84,...,0,0,0,0,0,0,0,0,0,0

In [10]:
#list(telecom)

## Create X, y variables

In [11]:
X = telecom.drop(['churn'],axis=1)
y = telecom['churn']

In [12]:
X.shape

(28504, 142)

## Applying standard scale

In [13]:
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler


scaler = preprocessing.StandardScaler().fit(X)

X = scaler.transform(X)

In [ ]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
from sklearn.feature_selection import RFE
rfe = RFE(logreg, 20)             # running RFE with 20 variables as output
rfe = rfe.fit(X,y)
print(rfe.support_)           # Printing the boolean results
print(rfe.ranking_)

In [ ]:
X.columns[rfe.support_]

# with new feature vector apply logistic regression