# <font color='blue'>Telecom Churn Case Study</font>
* Institution: IIIT, Bangalore and UpGrad
* Course: PG Diploma in Machine Lerning and AI March 2018
* Date: 14-Aug-2018
* Submitted by:
    1. Pandinath Siddineni (ID- APFE187000194)
    2. AKNR Chandra Sekhar (ID- APFE187000315)
    3. Brajesh Kumar       (ID- APFE187000149)
    4. Shweta Tiwari
-----------------------------------

# <font color='blue'>feature reduction with RFE and mdel : logistic regression</font>

In [10]:
import os.path
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [11]:
pd.options.display.float_format = '{:.2f}'.format

In [12]:
# Load clean telecom data file
master_df = pd.read_csv('telecom_churn_data_clean.csv', low_memory=False)

In [13]:
master_df.head()

,mobile_number,arpu_6,arpu_7,arpu_8,onnet_mou_6,onnet_mou_7,onnet_mou_8,offnet_mou_6,offnet_mou_7,offnet_mou_8,...,fb7_1.0,fb8_0.0,fb8_1.0,total_rech_data_amt_6,total_rech_data_amt_7,total_rech_data_amt_8,churn,rech_days_left_6,rech_days_left_7,rech_days_left_8
0,7000701601,1069.18,1349.85,3171.48,57.84,54.68,52.29,453.43,567.16,325.91,...,0,0,0,0.00,0.00,0.00,1,3.00,6.00,5.00
1,7001524846,378.72,492.22,137.36,413.69,351.03,35.08,94.66,80.63,136.48,...,1,0,1,0.00,354.00,207.00,0,5.00,0.00,1.00
2,7002124215,514.45,597.75,637.76,102.41,132.11,85.14,757.93,896.68,983.39,...,0,0,0,0.00,0.00,0.00,0,0.00,0.00,0.00
3,7000887461,74.35,193.90,366.97,48.96,50.66,33.58,85.41,89.36,205.89,...,1,0,1,0.00,712.00,540.00,0,12.00,24.00,7.00
4,7000149764,977.02,2362.83,409.23,0.00,0.00,0.00,0.00,0.00,0.00,...,1,0,1,5285.00,20424.00,455.00,0,0.00,1.00,5.00

In [16]:
#dropping mobile number
telecom=master_df.drop(['mobile_number'],axis=1)

## Create X, y variables

In [17]:
X = telecom.drop(['churn'],axis=1)
y = telecom['churn']

In [18]:
feature=telecom.drop(['churn'],axis=1)

In [19]:
X.shape

(28504, 142)

## Applying standard scale

In [20]:
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler


scaler = preprocessing.StandardScaler().fit(X)

X = scaler.transform(X)

In [21]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
from sklearn.feature_selection import RFE
rfe = RFE(logreg, 30)             # running RFE with 20 variables as output
rfe = rfe.fit(X,y)
print(rfe.support_)           # Printing the boolean results
print(rfe.ranking_)

[ True False False False False False False False  True False False False
 False  True False False False  True  True False False False False  True
 False False False False False False False False  True False False False
 False False False False False False False  True  True False False False
 False False False False  True False False False  True False  True  True
 False False  True False  True  True False False False False False False
 False False False False False False  True False  True False False  True
 False False False False False False False False False False False  True
 False False  True False False  True False False  True False False False
 False False  True False False  True False False  True False False False
  True  True False False False False False False False False False False
 False False False  True False False False False False  True]
[  1  17  13 105  69  58  18  41   1  66  38 111 106   1  11  76  43   1
   1  88  52  77  54   1  62  91  42  20  73  22  19  97   1  72  71  53
 112  98  39  86  96  78  35   1   1  61  74  24  44  70  56 104   1  55
 113  27   1  83   1   1  25  26   1  89   1   1  21   7   6 100  75  67
  99  15  14  84  90  40   1  51   1  46  45   1  29 109  92  28  31  30
  65   9  10  48  16   1  85  63   1  79  47   1  57   2   1 103   5   4
  12   3   1  36  50   1 110  94   1  23  59  60   1   1 101 102  68  82
  81  80   8  34 108 107  49  95  33   1  37  87  93  64  32   1]

# feature created for RFE logistic

In [22]:
feature.columns[rfe.support_]

Index(['arpu_6', 'offnet_mou_8', 'roam_og_mou_7', 'loc_og_t2t_mou_8',
       'loc_og_t2m_mou_6', 'loc_og_t2f_mou_8', 'std_og_t2t_mou_8',
       'isd_og_mou_7', 'isd_og_mou_8', 'total_og_mou_7', 'loc_ic_t2t_mou_8',
       'loc_ic_t2m_mou_7', 'loc_ic_t2m_mou_8', 'loc_ic_t2f_mou_8',
       'loc_ic_mou_7', 'loc_ic_mou_8', 'total_ic_mou_6', 'total_ic_mou_8',
       'spl_ic_mou_8', 'total_rech_amt_8', 'max_rech_amt_8',
       'last_day_rch_amt_8', 'vol_2g_mb_8', 'monthly_2g_8', 'sachet_2g_8',
       'monthly_3g_8', 'aon', 'aug_vbc_3g', 'fb8_1.0', 'rech_days_left_8'],
      dtype='object')

In [24]:
X=telecom[['arpu_6', 'offnet_mou_8', 'roam_og_mou_7', 'loc_og_t2t_mou_8',
       'loc_og_t2m_mou_6', 'loc_og_t2f_mou_8', 'std_og_t2t_mou_8',
       'isd_og_mou_7', 'isd_og_mou_8', 'total_og_mou_7', 'loc_ic_t2t_mou_8',
       'loc_ic_t2m_mou_7', 'loc_ic_t2m_mou_8', 'loc_ic_t2f_mou_8',
       'loc_ic_mou_7', 'loc_ic_mou_8', 'total_ic_mou_6', 'total_ic_mou_8',
       'spl_ic_mou_8', 'total_rech_amt_8', 'max_rech_amt_8',
       'last_day_rch_amt_8', 'vol_2g_mb_8', 'monthly_2g_8', 'sachet_2g_8',
       'monthly_3g_8', 'aon', 'aug_vbc_3g', 'fb8_1.0', 'rech_days_left_8']]

In [25]:
print(X.shape)
print(y.shape)

(28504, 30)
(28504,)

In [26]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(kind = "regular")
X_tr,y_tr = sm.fit_sample(X,y)
print(X_tr.shape)
print(y_tr.shape)
np.count_nonzero(y_tr)

(53816, 30)
(53816,)

26908

In [27]:
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_tr, y_tr, random_state=0)
classifier = LogisticRegression(random_state=0)
classifier.fit(X_train, y_train)

C:\Users\bkumar5\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=0, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [28]:
y_pred = classifier.predict(X_test)
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)

[[5567 1188]
 [1044 5655]]

In [29]:
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(classifier.score(X_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.83

In [30]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.84      0.82      0.83      6755
          1       0.83      0.84      0.84      6699

avg / total       0.83      0.83      0.83     13454